.fancycard {
    color: var(--clr-fg);
    padding: var(--box-padding);
    background-color: var(--clr-border);
    max-inline-size: 20rem;
    height: auto;
    width: auto;
    border-radius: var(--box-outer-radius);
    position: relative;
}

.fancycards-block:has(> .fancycard):hover > .fancycard > .fancycard-border {
    opacity: 1;
}

.fancycard:hover::before {
    opacity: 1;
}

.fancycard::before,
.fancycard > .fancycard-border {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity var(--transition-time);
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: inherit;
}

.fancycard::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        var(--clr-card-bg-lighter),
        transparent 40%
    );
    z-index: 3;
}

.fancycard > .fancycard-border {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        var(--clr-card-bg-light),
        transparent 30%
    );
    z-index: 1;
}

.fancycard > .fancycard-content {
    position: relative;
    height: calc(100% - var(--box-padding) + 2px);
    width: calc(100% - var(--box-padding));
    border-radius: var(--box-inner-radius);
    background-color: var(--clr-card-bg);
    padding: 1rem;
    margin: 0.5px auto;
    z-index: 2;
}

.card {
    color: var(--clr-fg);
    padding: var(--box-padding);
    border: var(--border-width, 1px) solid var(--clr-border);
    /* max-inline-size: 20rem; */
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: var(--box-outer-radius);
    position: relative;
}
