:root {
    --bg-color-values: 126, 217, 87;

    @media(prefers-color-scheme: light) {
        --bg-color-values: 0, 151, 178;
    }
}

.card {
    color: var(--foreground-color);
    padding: var(--box-padding);
    background-color: rgba(var(--bg-color-values), 0.1);
    max-inline-size: 20rem;
    height: auto;
    width: auto;
    border-radius: var(--box-outer-radius);
    position: relative;
}

.cards-block:has(> .card):hover>.card>.card-border {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card>.card-border {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: inherit;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(var(--bg-color-values), 0.06),
            transparent 40%);
    z-index: 3;
}

.card>.card-border {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(var(--bg-color-values), 0.3),
            transparent 30%);
    z-index: 1;
}

.card>.card-content {
    position: relative;
    height: calc(100% - var(--box-padding));
    width: calc(100% - var(--box-padding));
    border-radius: var(--box-inner-radius);
    background-color: var(--background-color);
    padding: 1rem;
    margin: 0.5px auto;
    z-index: 2;
}