.experience-block > :first-child {
    text-transform: uppercase;
    font-size: var(--size-scale-300);
}

@media screen and (min-width: 768px) {
    .experience-block {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}