.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    height: 3em;
}

.icon > p {
    text-transform: capitalize;
}

.icon.row {
    flex-direction: row;
    align-items: baseline;
}

.icon.row img:last-of-type {
    height: 1.2em;
}

.icon.monochrome {
    border: none;
    border-radius: 0;
    background-color: initial;
    justify-content: center;
    color: var(--clr-fg);
}

.icon.monochrome:hover {
    color: var(--clr-link-hover);
}
