.navbar {
    background-color: inherit;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    display: flex;
    backdrop-filter: blur(12px);
    z-index: 10;

    img {
        height: 50px;
    }
}
