.navbar {
    background-color: light-dark(
        var(--clr-card-bg-light),
        var(--clr-card-bg-dark)
    );
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    display: flex;
    backdrop-filter: blur(12px) saturate(120%);
    z-index: 10;

    img {
        height: 50px;
    }
}
