.project__card {
    display: grid;
    grid-template-rows: min-content max-content 1fr;
    align-items: center;
    gap: 1rem;
}

.project__card > * {
    margin-top: 0;
    margin-bottom: 0;
}

.project__card > h3,
p {
    align-self: self-start;
}
.project__card > ul {
    align-self: self-end;
}
