.project-block {
    display: grid;
    grid-template-rows: min-content max-content 1fr;
    align-items: center;
    gap: 1rem;
}

.project-block > * {
    margin-top: 0;
    margin-bottom: 0;
}

.project-block > h3,p {
    align-self: self-start;
}
.project-block > ul {
    align-self: self-end;
}