.theme-mode-toggle {
    cursor: pointer;
    border: var(--background-color);
    border-radius: 100%;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    background-color: inherit;
    align-self: center;
    padding: 0.5rem;
    line-height: 0;
}

.theme-mode-toggle:hover {
    background: var(--color-secondary);
    --foreground-color: var(--light);
}

.theme-mode-toggle:active {
    transform: scale(0.95);
}

:root[data-theme="system"] {
    color-scheme: light dark;
}

:root[data-theme="light"] {
    color-scheme: light;
}

:root[data-theme="dark"] {
    color-scheme: dark;
}