.fancy-anchors a {
    text-decoration-skip-ink: none;
    transition: all var(--transition-time);

    &:hover,
    &:focus {
        color: var(--clr-link-hover);
        text-underline-offset: -2ex;
        text-decoration-thickness: 2.5ex;
    }
}

.highlight-active-hover {
    width: fit-content;
    opacity: 1;
    &:hover a:not(:hover),
    &:focus-within a:not(:focus) {
        opacity: 0.6;
    }
    a {
        scale: 1;
        transition: all var(--transition-time);
        &:hover,
        &:focus {
            scale: 1.1;
        }
    }
}
