.fancy-anchors a {
    text-decoration-skip-ink: none;
    transition: all var(--transition-time);

    &:hover,
    &:focus {
        color: var(--clr-link-hover);
        text-underline-offset: -2ex;
        text-decoration-thickness: 2.5ex;
    }
}
