.padding-px {
    padding: 1px;
}

.padding-2xs {
    padding: var(--space-2xs);
}

.padding-xs {
    padding: var(--space-xs);
}

.padding-s {
    padding: var(--space-s);
}

.padding-x-xs {
    padding-inline: var(--space-xs);
}

.padding-y-2xs {
    padding-block: var(--space-2xs);
}
