.padding-px {
    padding: 1px;
}

.padding-2 {
    padding: var(--space-2xs);
}

.padding-3 {
    padding: var(--space-xs);
}

.padding-4 {
    padding: var(--space-s);
}

.padding-x-3 {
    padding-inline: var(--space-xs);
}

.padding-y-2 {
    padding-block: var(--space-2xs);
}