@import 'utilities/wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/stack';
@import 'utilities/splitter.css';
@import 'utilities/grid.css';
@import 'utilities/cluster.css';
@import 'utilities/center.css';

@import 'compositions/hero-layout.css';
@import 'compositions/navbar.css';

@import 'blocks/icons.css';
@import 'blocks/experience-block.css';
@import 'blocks/pills.css';

:root {
  font-family: var(--font-system);
  
  color-scheme: light dark;
  color: var(--base-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: var(--size-scale-600);

}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--size-scale-700);
}

h2 {
  font-size: var(--size-scale-600);
}

h3 {
  font-size: var(--size-scale-500);
}

a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--link-color);
  text-underline-offset: .3ex;
  text-decoration-thickness: .3ex;
}
a:hover {
  color: var(--link-color-hover);
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}

@media (min-width: 960px) {
  :root {
    /* ↓ Upscale by 10% at 960px */
    font-size: 110%;
  }
}
