:root {
  /* https://modernfontstacks.com/  geometric humanist font */
  --font-system: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  /* monospace code font */
  --font-system-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-system-code-size: 0.8rem;

  --light: #ffffffde;
  --dark: #242424;
  --background-color: light-dark(oklch(0.95 0.005 143.95), oklch(0.21 0.0678 143.95));

  --foreground-color: light-dark(var(--dark), var(--light));

  --link-color: var(--color-secondary);

  --box-outer-radius: 10px;
  --box-padding: 1px;
  --box-inner-radius: calc(var(--box-outer-radius) - var(--box-padding));



  /* Sizes */
  --base-size: 1rem;
  --size-scale-300: calc(var(--base-size) * 0.8);
  --size-scale-400: var(--base-size);
  --size-scale-500: calc(var(--base-size) * 1.33);
  --size-scale-600: calc(var(--base-size) * 1.77);
  --size-scale-700: calc(var(--base-size) * 2.4);

  /* Colours */
  --color-primary: #7ed957;
  --color-secondary: #0097b2;
}